.country-card-info {
	display: flex;
	justify-content: center;
	margin: 5rem 5rem 2rem 5rem;
	height: auto;
}

.country-info-flag {
	width: 40rem;
	height: auto;
}

.country-stats {
	margin: 2rem 5rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
}

.country-name {
	font-weight: 800;
}

.country-stats-info {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	max-height: 20rem;
	margin: 2rem 0;
}

.country-info {
	background-color: var(--LightBackground);
	color: var(--LightText);
	font-weight: 600;
	font-size: 1rem;
	margin-bottom: 2rem;
}

.country-info.dark-theme {
	background-color: var(--DarkBackground);
	color: var(--DarkText);
}

.back-btn {
	background-color: var(--LightElements);
	color: var(--LightText);
	width: 7rem;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 0.5rem;
	margin: 5rem;
	width: 10rem;
	height: 2.5rem;
}

.back-btn.dark-theme {
	background-color: var(--DarkElements);
	color: var(--DarkText);
}

.btn-text {
	padding: 0 0.5rem;
	width: auto;
}

.fa-arrow-left {
	padding: 1rem 0 1rem 0.5rem;
}
/* Border Country Buttons */
.country-btn {
	background-color: var(--LightElements);
	color: var(--LightText);
	padding: 0.3rem 0.7rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	border-radius: 0.2rem;
	margin: 0.5rem;
	cursor: pointer;
}

.country-btn.dark-theme {
	background-color: var(--DarkElements);
	color: var(--DarkText);
}

@media (max-width: 600px) {
	.country-info-container {
		margin: 1rem auto;
		padding: 0;
	}
	.country-card-info {
		width: 85vw;
		display: flex;
		flex-direction: column;
		margin: auto;
		padding: 0;
	}
	.country-info-flag {
		width: 85vw;
		height: 25vh;
	}
	.country-stats {
		margin: 0;
		display: flex;
		flex-direction: column;
	}
	.country-stats-info {
		height: auto;
		margin: 0;
	}
	.country-info {
		margin: 0.2rem;
		display: block;
		margin-left: 1rem;
	}
	.first-part {
		margin-bottom: 2rem;
	}
	.second-part {
		margin-bottom: 2rem;
	}
	.back-btn {
		margin: 2rem;
		border-radius: 0.2rem;
	}
	.country-name {
		margin: 2rem 1rem 1rem 1rem;
	}
	.country-btn {
		display: inline-block;
		margin: 0.4rem;
		border-radius: 0.2rem;
	}
}
