.search-logo {
	padding: 0 1rem;
}

.search-logo.dark-theme {
	color: var(--DarkText);
}

.search-component {
	background-color: var(--LightElements);
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search-component.dark-theme {
	background-color: var(--DarkElements);
}

.search-bar {
	border: none;
	font-size: 1rem;
	padding: 1.2rem;
	border-radius: 0.5rem;
	width: 30rem;
}

.search-bar:focus {
	outline: none;
}

.search-bar.dark-theme {
	background-color: var(--DarkElements);
	color: var(--DarkText);
}

@media (max-width: 600px) {
	.search-component {
		width: 90vw;
		margin: 0;
		padding: 0.5rem 0.4rem;
		border-radius: 0.3rem;
	}
	.search-bar {
		width: 80%;
		padding: 0.5rem;
	}
	.search-logo {
		padding: 0 1.5rem;
	}
}
