/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Font-family */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

/* Variables */
:root {
	--LightText: hsl(200, 15%, 8%);
	--LightInput: hsl(0, 0%, 52%);
	--LightBackground: hsl(0, 0%, 98%);
	--LightElements: hsl(0, 0%, 100%);
}

body {
	background-color: var(--LightBackground);
	color: var(--LightText);
	font-family: "Nunito Sans", sans-serif;
}
/* 
img {
	width: 100%;
	height: 15rem;
} */

/* Header Styling */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: var(--LightText);
	background-color: var(--LightElements);
	padding: 2rem 3rem;
}

.header-title {
	margin-left: 1.5rem;
	font-weight: 800;
	font-size: 2rem;
}

.button-toggle {
	font-size: 1rem;
	background-color: var(--LightElements);
	border: none;
	cursor: pointer;
	margin-right: 1rem;
}

.button-toggle .fas {
	display: none;
}

/* Search and Filter components */

.search-filter-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem;
}

.search-logo {
	padding: 0 1rem;
}

.search-component {
	background-color: var(--LightElements);
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.search-bar {
	border: none;
	font-size: 1rem;
	padding: 1.5rem;
	border-radius: 0.5rem;
	min-width: 30rem;
}

.filter-component {
	background-color: var(--LightElements);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	position: relative;
	padding: 1.4rem;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 13rem;
}

.filter-component.open {
	display: block;
}

.filter-component ul {
	background-color: var(--LightElements);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	position: absolute;
	display: none;
	list-style: none;
	padding: 1rem;
	width: 100%;
	border-radius: 0.5rem;
	left: 0;
	top: 110%;
}

.filter-component ul li {
	margin: 0.3rem 0;
	cursor: pointer;
}

/* Country Cards */
.countries-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.country-card {
	background-color: var(--LightElements);
	width: 20rem;
	margin: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.country-flag {
	width: 100%;
	border-radius: 0.5rem 0.5rem 0 0;
}

.country-card .country-name {
	font-weight: 800;
	padding: 1rem 0 2rem 1rem;
}

.country-info {
	font-weight: 600;
	padding-bottom: 1rem;
	padding-left: 1rem;
}

.country-info:last-child {
	padding-bottom: 1.5rem;
}

.country-info span {
	font-weight: 300;
}
